{
  "arrowParens": "always",
  "printWidth": 90,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderTypeScriptVersion": "4.4.0",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@repo/ui/(.*)$",
    "^ui/(.*)$",
    "^components/(.*)$",
    "",
    "^~/(.*)$",
    "^[./]"
  ],
  "proseWrap": "always"
}
